<div class="card text-center">
    <div class="card-header">
      Datos del usuario
    </div>
    <div class="card-body">
      <h5 class="card-title"><%=info.username%></h5>
      <p class="card-text">Direccion: <%= info.address %></p>
      <a href="/" class="btn btn-primary">Back to products</a>
    </div>
</div>