<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header.ejs') %>
</head>
<body>
    <div class="container mt-5 bg-light rounded">
        <%- include('../partials/datos.ejs') %>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>